*.prefs
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/target/
test/org/opensourcebim/nmd/NmdDatabaseConfigImpl.java
src/org/opensourcebim/nmd/NmdDatabaseConfigImpl.java
src/data/NMD_2.2_OPLEVERING_20180626_AANGEPAST.db
src/org/opensourcebim/nmd/NmdUserDataConfigImpl.java
src/org/opensourcebim/resources/local/nmdConfig.xml
