*.prefs
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/target/
test/org/opensourcebim/nmd/NmdDatabaseConfigImpl.java
src/org/opensourcebim/nmd/NmdDatabaseConfigImpl.java
